.all-amenities-button {
    padding         : 10px;
    color           : #fff;
    border          : none;
    border-radius   : 100px;
    cursor          : pointer;
    transition      : background-color 0.3s ease;

    font-family: Arial;
    font-size: 17px;
    height: auto;
    width: 200px;

    margin-left: auto;
    margin-right: auto;

    background-color: #FC6C85;
    border: #FC6C85;
    
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-amenities-button:hover {
    background-color: #fd3355;
}

/* hiện bảng tiện ích */
.h2-amenities-header {
    margin-top: 30px;
    font-family: Arial;
    color: black;
}
.add-amenity-card {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 32px;
    border: 1px solid var(--gray-200,#eaecf0);
    background: var(--base-white,#fff);
    box-shadow: var(--shadow-sm);
    width: 1200px;
    font-family: Arial;
    border-color: #fc6c85;
    box-shadow: 0 5px 20px 0 rgba(252, 108, 132, 0.666);
    margin-left: auto;
    margin-right: auto;

    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column; 
}
.acco-amenity-list {
    gap: 16px;
    flex-direction: column;
    display: flex;
}
.acco-amenity-item {
    gap: 24px;
    align-items: start;
    display: flex;
}
.acco-amenity-list-ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 80px;
    margin-bottom: 30px;
}
.acco-amenity-list-li {
    display: flex;
    align-items: center;
}
.acco-amenity-list-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 17px;

    padding         : 10px;
    color           : black;
    /* border          : none; */
    border-radius   : 100px;
    cursor          : pointer;
    transition      : background-color 0.3s ease;

    background-color: #fff;
    border: 2px solid #FC6C85;
    
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acco-amenity-list-button:hover {
    color: white;
    background-color: #fd3355;
}

/* .acco-amenity-list-close-button {
    padding         : 10px;
    color           : #fff;
    border          : none;
    border-radius   : 100px;
    cursor          : pointer;
    transition      : background-color 0.3s ease;

    font-family: Arial;
    font-size: 17px;
    height: auto;
    width: auto;

    background-color: #FC6C85;
    border: #FC6C85;
    
    padding: 16px 20px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.acco-amenity-list-close-button:hover {
    background-color: #fd3355;
} */

  
