.find-room-by-date-button {
    /* padding         : 10px;
    color           : #fff;
    border          : none;
    border-radius   : 100px;
    cursor          : pointer;
    transition      : background-color 0.3s ease;

    font-family: Arial;
    font-size: 17px;
    height: auto;
    width: auto;

    background-color: #FC6C85;
    border: #FC6C85;
    margin-left: auto;
    margin-right: auto;
    
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center; */

    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: #fff;
    font-family: Arial;
    font-size: 17px;
    height: inherit;
    width: max-content;

    color: #FC6C85;
    text-decoration: underline;
}
.find-room-by-date-button:hover {
    cursor: pointer;
    color: #FC6C85;
    text-decoration: underline;
}

.find-room-by-date-card {
    margin-bottom: 30px;
    border-radius: 32px;
    border: 1px solid var(--gray-200,#eaecf0);
    background: var(--base-white,#fff);
    box-shadow: var(--shadow-sm);
    font-family: Arial;
    border-color: #fc6c85;
    box-shadow: 0 5px 20px 0 rgba(252, 108, 132, 0.666);
    margin-left: auto;
    margin-right: auto;

    flex-direction: column; 
    padding: 20px;

    justify-content: center;
    display: flex;
    align-items: center;

    margin-top: 30px;
}

.find-room-by-date-searchbox {
    display: flex;
    align-items: center;
    gap: 80px;
}

.find-room-by-date-search-button {
    display: flex;
    gap: 10px;
    align-items: center;

    color: #0000008a;
    font-family: Arial;
    font-size: 17px;
    height: 73.6px;
    background-color: #FC6C85;
    border: #FC6C85;
    border-radius: 100px;
    padding: 16px 20px;
    white-space: nowrap;
    display: flex;
    justify-content: center;

    transition: background-color 0.3s ease;
}
.find-room-by-date-search-button:hover {
    color: white;
    background-color: #fd3355;
}